#
# Please create your Makefile.vars from this template file.
#
# Please use absolute path, DO NOT use relative path !
#

# saxon65.jar, saxon65-dbxsl.jar, xml-commons-resolver-1.2.jar: Only for pdf format !
JAVA_LIB=/home/dongsheng/vcs/svn/i18n-zh/trunk/lib/share/java

# fop (>= 0.9.6): Only for pdf format !
FOP=fop

# docbook-xsl (>= 1.74.3): Only for ePub format !
DB2EPUB=dbtoepub
