#
# Please create your Makefile.vars from this template file.
#
# Please use absolute path, DO NOT use relative path !
#

# po4a (>= 0.36.1): Only for PO based translation !
# po4A_HOME=/usr/bin
# PO4A_LIB=/usr/share/perl5
PO4A_HOME=/home/dongsheng/vcs/svn/i18n-zh/trunk/lib/po4a
PO4A_LIB=$(PO4A_HOME)/lib

# saxon65.jar, saxon65-dbxsl.jar, xml-commons-resolver-1.2.jar: Only for pdf format !
JAVA_LIB=/home/dongsheng/vcs/svn/i18n-zh/trunk/lib/share/java

# fop (>= 0.9.6): Only for pdf format !
FOP_HOME=/home/dongsheng/vcs/svn/i18n-zh/trunk/lib/fop

# docbook-xsl (>= 1.74.3): Only for ePub format !
DB2EPUB=/home/dongsheng/vcs/svn/i18n-zh/trunk/lib/docbook/docbook-xsl/epub/bin/dbtoepub
