.admonition.caution {
	background: url("caution.png") no-repeat;
	padding-left: 48px;
	min-height: 48px;
}

.admonition.tip {
	background: url("tip.png") no-repeat;
	padding-left: 48px;
	min-height: 48px;
}

.admonition.note {
	background: url("note.png") no-repeat;
	padding-left: 48px;
	min-height: 48px;
}

.figure .caption:before {
	content: "Figure: ";
}
