{% extends "simple.html" %}

{% block title %}Home{% endblock %}

{% block body %}
	<h2>Welcome to 'Mercurial: the definite guide' (2nd edition)!</h2>

	<p>The second edition of this book is currently under development
	and still needs a lot of work.
	If you want to have a look at the first edition of the book,
	hop over to <a href="http://hgbook.red-bean.com/">the correct website</a>.
	If you want to know what new features have been added to Mercurial
	since the book was written, have a look at
	<a href="https://mercurial.selenic.com/wiki/MercurialBook">the wiki</a>.</p>

	<p>If you're sure you don't mind viewing an in-development edition,
	feel free to <a href="read/">start reading</a>.</p>

	<p>Contributors that want to work on this book are very much welcome.
	If you're interested, have a look at the source code and list of issues
	over at <a href="https://bitbucket.org/Mathiasdm/hgbook">Bitbucket</a>.</p>

	<p>
{% endblock %}
